@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Open+Sans+Condensed:wght@700&display=swap");

.imgHome {
  width: 100%;
  height: 530px;
  background: url("../../assets/bg-bons-drinks.jpg") no-repeat 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.h1Home {
  transition: 0.3s ease-in;
  font-family: "Bilbo Swash Caps", cursive;
  color: white;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  margin-top: 10px;
  animation-name: zoom;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  from {font-size: 0px;}
  to {font-size: 120px;}
}