.api {
    grid-template-areas: "cabecalho" "conteudoDrink";
    grid-template-rows: 3fr 5fr;
}

.cabecalho {
    grid-area: cabecalho;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.conteudoDrink {
    grid-area: conteudoDrink;
}

.botaoPos{
    display: flex;
    justify-content: space-around;
}

.h1Drinks {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.botao {
    background-color: #5C0511;
    color: #fffdf8;
    font-weight: 700;
    padding: 8px 10px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    width: 250px;
    border: none;
    display: block;
    margin-left: auto;
    cursor: pointer;
    transition: 0.5s ease background-color;
}