.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  box-shadow: 0 3px 20px #000000;
}

.divMae{
  display: grid;
  grid-template-areas: "header" "conteudo" "footer";
  grid-template-rows: 60px auto 40px;
  grid-template-columns: 5fr;
  background-color: #fffdf8;
}

.conteudo {
  grid-area: conteudo;
}